# General Config files 
.prettierrc

# Frontend
frontend/auth-reg-front/package-lock.json
frontend/auth-reg-front/node_modules

# Backend
backend/package-lock.json
backend/node_modules
backend/config/db-connect.js
backend/.env
